@media screen and (max-width: 576px) {
    h1 {
        font-size: 1em;
    }
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4em;
    }
}

body {
    background-color: #DEB887;
    display: flex;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(15px + 0.390625vw);
    font-weight: bold;
    margin: 0;
    text-align: center;
}

p {
    font-size: 0.75rem;
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: calc(4px + 1.5625vw);
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: calc(1px + 1.5625vw);
}

input[type='radio'] {
    display: none;
}

input[type='radio'] + label:hover {
    background-color: rgb(245, 245, 245, 0.7);
    cursor: pointer;
    transition: 0.5s;
}

input[type='radio'][name='btn-selection-players']:checked + label {
    background-color: white;
}

input[type='range'] {
    cursor: pointer;
    width: 40%;
    vertical-align: bottom;
}

input[type='range'][name="num-bids"] {
    width: 40%;
}

input[type='range'][name="winning-score"] {
    width: 60%;
}

#btn-submit-info {
    background: black;
    bottom: 0;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: calc(4px + 1.5625vw);
    text-align: center;
    z-index: 1;
}

#btn-submit-info:hover {
    background: whitesmoke;
    color: black;
    transition: 0.5s;
}

#game-details {
    margin: auto;
}

#game-details a {
    color: whitesmoke;
    font-size: 1em;
    position: relative;
    text-decoration: none;
    /* For underline effect - https://css-irl.info/animating-underlines/ */
    background: linear-gradient(to right, #9a805e, #9a805e), linear-gradient(to right, #DEB887, #DEB887);
    background-size: 100% 0.2em, 0 0.2em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    padding-inline: 0.1em;
    transition: color 400ms linear 100ms, background-size 400ms linear;
}

/* For underline effect */
#game-details a:hover {
    color: black;
    background-size: 0 0.2em, 100% 0.2em;
}

#game-details p {
    margin: 5px auto;
}

#game-screen {
    align-items: center;
    flex: 3;
    float: right;
    height: 100%;
    width: 60%;
    z-index: 1;
}

#left-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#start-input {
    background: #9a805e;
    float: left;
    height: 90%;
    padding: calc(4px + 1.5625vw);
    z-index: 1;
}

#num-player-selection {
    align-items: center;
    width: 100%;
}

#num-player-selection label {
    border: 3px solid black;
    border-radius: 25px;
    display: inline-block;
    height: 70px;
    margin: 5px;
    padding: 10px;
    width: 120px;
}

#player-names-selection {
    align-items: center;
}

#player-names-selection label + input {
    background: #9a805e;
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin: 5px auto;
    width: 50%;
}

.range-selection {
    padding: 10px 0;
}

.range-selection * {
    display: inline-block;
}

.range-value-indicator {
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    margin-inline: 5px;
    padding: 3px;
    width: max-content;
    vertical-align: top;
}
